.store-component {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .store-component h2 {
    margin-top: 2rem;
    text-align: center;
  }
  
  .store-component .card {
    border: none;
    transition: transform 0.3s ease-in-out;
    width: 80%;
  }
  
  .store-component .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: fit-content;

  }

/* CSS para centrar el botón en la pantalla */
.test-modal-component {
  height: 100vh; /* Ocupar todo el alto de la pantalla */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

  @keyframes fly {
    0% { transform: scale(0.5); opacity: 0; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
  }
  
  .success-animation {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    animation: fly 2s ease forwards;
  }
  


  .store-component.dark-mode .card {
    background-color: #2c3e50;
    color: #ecf0f1;
  }
  
  .store-component.dark-mode .btn-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
  }
  
  .store-component .card-title {
    color: #333; /* Adjust based on dark mode */
  }

  
  .store-component.dark-mode .card-title {
    color: #ecf0f1;
  }
  
  /* Add more styles as needed */


  /* Estilos para el modal específico del StoreComponent */
.store-component-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050 !important; /* Alta prioridad para asegurarse de que está por encima de otros elementos */
}

.store-component-modal-content {
  background-color: #fff; /* Fondo blanco para el contenido del modal */
  padding: 20px; /* Ajuste razonable para el padding */
  display: block !important;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border-radius: 8px;
  color: black; /* Asegúrate de que el texto sea visible contra el fondo blanco */
  position: relative;
  width: auto; /* Esto permitirá que el modal se ajuste al contenido */
  max-width: 500px; /* Ancho máximo para el modal */
  z-index: 1051 !important; /* Asegura que el contenido del modal está por encima del fondo */
}


.store-component-close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.5rem; /* Tamaño de la fuente para el botón de cierre */
  z-index: 1052 !important; /* Asegura que el botón de cierre está por encima del contenido del modal */
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  .store-component .card {
    width: 90%; /* Tarjetas más anchas en pantallas más pequeñas */
  }

  .store-component-modal-content {
    padding: 15px; /* Menos padding en pantallas pequeñas */
    max-width: 95%; /* Aprovecha más el espacio disponible */
  }

  .test-modal-component, .store-component-modal-backdrop {
    height: auto; /* Permite que el modal se ajuste al contenido */
    min-height: 100vh; /* Asegura que cubre toda la pantalla */
  }
}

/* Ajustes adicionales para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .store-component .card {
    width: 100%; /* Utiliza todo el ancho disponible */
  }
}
